<div class="page page-dashboard">

<!--Dealership/Employee Table-->
    <div class="panel panel-default">
        <div class="panel-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <!--<th>#</th>
                        <th>Project</th>
                        <th>Status</th>-->
                        <th>Dealership</th>
                        <th>Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ this.dealership }}</td>
                        <td><progressbar class="progressbar-xs no-margin" value="55"></progressbar></td>
                    </tr>
                    <tr>
                        <td>Abbey Equipment</td>
                        <td><progressbar class="progressbar-xs no-margin" value="34" type="success"></progressbar></td>
                    </tr>
                    <tr>
                        <!--<td>3</td>-->
                        <!--<td><span class="color-warning"><i class="fa fa-level-down"></i></span> DARK</td>-->
                        <!--<td><span class="label label-success">Due</span></td>-->
                        <td>Adams Equipment</td>
                        <td><progressbar class="progressbar-xs no-margin" value="98" type="info"></progressbar></td>
                    </tr>
                    <tr>
                        <td>Alaska Tractor</td>
                        <td><progressbar class="progressbar-xs no-margin" value="52" type="warning"></progressbar></td>
                    </tr>
                    <tr>
                        <td>Allen Farms</td>
                        <td><progressbar class="progressbar-xs no-margin" value="77" type="danger"></progressbar></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /Dealership/Employee Table -->

<!--Badges-->
        <div class="row">
       <!-- Stats -->
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <span class="ti-star color-success"></span>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 1 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <!--<span>100 <span class="size-h4">%</span></span>-->
                    <span class="ti-cup color-warning"></span>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="ti-stats-up color-info"></i>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 2 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>22 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="ti-stats-up color-info"></i>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 3 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <span>37 <span class="size-h4">%</span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel panel-box">
                <div class="panel-top">
                    <i class="ti-key" style="color:#7992BF"></i>
                </div>
                <div class="panel-info">
                    <span data-translate="PHASE 4 DIAGNOSTICS"></span>
                </div>
                <div class="panel-bottom bg-light">
                    <!--<span>21 <span class="size-h4">%</span></span>-->
                    <span class="ti-medall" style="color:#7992BF"></span>
                </div>
            </div>
        </div>
        <!-- end stats -->          
    </div>




</div>
  