        
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title">
            <span data-translate="NAVIGATION"></span>
        </li>
        <li><a href="#/dashboard"> <i class="ti-stats-up"></i><span data-translate="Company Progress"></span> </a></li>
        <li>
            <a href="#/ui"><i class="ti-medall"></i><span data-translate="Skill Sets"></span></a>
            <ul>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 1"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 2"></span> <span class="badge badge-info">4</span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 3"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 4"></span> <span class="badge badge-danger">18</span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 5"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 6"></span> <span class="badge badge-success">13</span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 7"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 8"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 9"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 10"></span></a></li>
                <li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="Skill Set 11"></span></a></li>
            </ul>
        </li>
        <li>
            <a href="#/pages"><i class="ti-lock"></i><span data-translate="Login"></span></a>
            <ul>
                <!-- <li><a href=""target="_blank"><i class="ti-angle-right"></i><span data-translate="LANDING"></span></a></li> -->
                <li><a href="#/pages/signin"><i class="ti-angle-right"></i><span data-translate="SIGN_IN"></span></a></li>
                <li><a href="#/pages/signup"><i class="ti-angle-right"></i><span data-translate="SIGN_UP"></span></a></li>
                <li><a href="#/pages/forgot-password"><i class="ti-angle-right"></i><span data-translate="FORGOT_PASSWORD"></span></a></li>
                <!--<li><a href="#/pages/profile"><i class="ti-angle-right"></i><span data-translate="USER_PROFILE"></span></a></li>
                <li><a href="#/pages/500"><i class="ti-angle-right"></i>500 <span data-translate="ERROR"></span></a></li>
                <li><a href="#/pages/blank"><i class="ti-angle-right"></i><span data-translate="BLANK_PAGE"></span></a></li>-->
            </ul>
        </li>
    </ul>
</div>