<div class="page-err err-500">
    <div class="err-container">
        <div class="text-center">
            <div class="err-status">
                 <h1>Nice Job!</h1>
            </div>
            <div class="err-message">
                <h2>keep up the great work</h2>
            </div>
            <div class="err-body">
                <a href="#/pages/profile" class="btn btn-lg btn-goback">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="space"></span>
                    Go Back to Video Gallery
                </a>
            </div>
        </div>
    </div>
    <div class="footer text-center">
        Copyright 2016 {{main.brand}} Admin
    </div>
</div>

