<div class="page page-profile">



<!--Row 1-->
	<div class="row" style="margin-top: 20px;">
		<!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video Title</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="quiz()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
<!--Quiz Modal-->
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Quiz!</h3>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="quiz()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>

					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->

        <!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->

        <!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->
		

<!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->
	</div> <!--End Row 1-->

<!--Row 2-->

	<div class="row">
		<!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->

        <!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->

        <!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->
		

<!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->
	</div> <!--End Row 2-->

<!--Row 3 -->

	<div class="row">
        <!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->

        <!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->

        <!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->
		

<!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-dark">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info" data-ng-controller="ModalDemoCtrl">
					<p class="size-h2">Video Title</p>
					<p class="text-muted">Video Author</p>
					<p class="text-muted">4:32</p>
					<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>

				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="560" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Test Video</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->
	</div> <!--End Row 3-->
</div> <!--Close Page Div-->
