<div class="page page-profile">



<!--Row 1-->
	<div class="row">
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-danger">
                </span>
				<div class="box-info">
					<p class="size-h2">1</p>
					<p class="text-muted">Diagnostics Section One</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-warning">
                </span>
				<div class="box-info">
					<p class="size-h2">2</p>
					<p class="text-muted">Tools</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-success">
                </span>
				<div class="box-info">
					<p class="size-h2">3</p>
					<p class="text-muted">Fluids</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-info">
                </span>
				<div class="box-info">
					<p class="size-h2">4</p>
					<p class="text-muted">Battery</p>
				</div>
			</div>
		</div>
	</div> <!--End Row 1-->

<!--Row 2-->

	<div class="row">
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-danger">
                </span>
				<div class="box-info">
					<p class="size-h2">1</p>
					<p class="text-muted">Diagnostics</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-warning">
                </span>
				<div class="box-info">
					<p class="size-h2">2</p>
					<p class="text-muted">Tools</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-success">
                </span>
				<div class="box-info">
					<p class="size-h2">3</p>
					<p class="text-muted">Fluids</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-info">
                </span>
				<div class="box-info">
					<p class="size-h2">4</p>
					<p class="text-muted">Battery</p>
				</div>
			</div>
		</div>
	</div> <!--End Row 2-->

<!--Row 3 -->

	<div class="row">
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-danger">
                </span>
				<div class="box-info">
					<p class="size-h2">1</p>
					<p class="text-muted">Diagnostics</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-warning">
                </span>
				<div class="box-info">
					<p class="size-h2">2</p>
					<p class="text-muted">Tools</p>
				</div>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="panel mini-box">
				<span class="btn-icon btn-icon-md btn-icon-lg-alt bg-success">
                </span>
				<div class="box-info">
					<p class="size-h2">3</p>
					<p class="text-muted">Fluids</p>
				</div>
			</div>
		</div>

<!--Video Box-->
		<div class="col-sm-3">
			<div class="panel mini-box preview">
<!--Progress Chart-->
				<span data-ng-controller="chartCtrl" class="btn-icon btn-icon-md btn-icon-lg-alt bg-light">
                    <div easypiechart options="easypiechart3.options" percent="easypiechart3.percent" class="easypiechart">
                        <span class="pie-percent" ng-bind="easypiechart3.percent"></span>
                    </div>
                </span> <!--End Progress Chart-->
				<div class="box-info">
					<p class="size-h2">4</p>
					<p class="text-muted">Test Video</p>
				</div>
<!-- Modal -->
					<div class="panel-body" data-ng-controller="ModalDemoCtrl">
						<script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3>Video</h3>
                            <iframe src="https://player.vimeo.com/video/81174736" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <p><a href="https://vimeo.com/81174736">Precision Tractor &amp; Trailer Services Inc. (772) 453-1700</a> from <a href="https://vimeo.com/user23259742">Mark Handzel</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-warning" ng-click="cancel()">Edit</button>
                            <button class="btn btn-primary" ng-click="ok()">Take Quiz</button>
                            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                        </div>
                    </script>
						<button class="btn btn-gap-v btn-primary" ng-click="open()">Watch</button>
					</div> <!--End Modal-->
			</div> <!--End MiniBox-->
		</div> <!--End Video Box-->
	</div> <!--End Row 3-->
</div> <!--Close Page Div-->
