<div class="page">
<!--A Question Object should be pulled in here with an id that relates to a video-->
	<section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-list-alt" style="margin-right: 10px;"></span>Quiz</strong></div>
        <div class="panel-body">
            <h4>What is an Instance Method in Mongoose?</h4>
            <!--<h4>{{ question }}</h4>-->
        </div>
    </section> 

    <div class="callout callout-info" id="callout-quiz">
        <p style:"float: left; clear: none;">Choose the correct answer below:</p>
    </div>
<!--This should be repeating over an array-->
    <section class="panel panel-default">
        <div class="panel-body">
            <a href="javascript:;" class="btn-icon-lined btn-icon-round btn-icon-md  btn-gap-v btn-info" style="float: left;"><span class="glyphicon glyphicon-font"></span></a>
            <p style="margin: 20px 0 0 60px;">A method that can be called on a document object</p>
        </div>
    </section> 

    <section class="panel panel-default">
        <div class="panel-body">
            <a href="javascript:;" class="btn-icon-lined btn-icon-round btn-icon-md  btn-gap-v btn-default" style="float: left;"><h3 style="margin-top: 7.5px;">B</h3></a>
            <p style="margin: 20px 0 0 60px;">A method that can be called on a collection object</p>
        </div>
    </section> 

        <section class="panel panel-default">
        <div class="panel-body">
            <a href="javascript:;" class="btn-icon-lined btn-icon-round btn-icon-md  btn-gap-v btn-danger" style="float: left;"><h3 style="margin-top: 7.5px;">C</h3></a>
            <p style="margin: 20px 0 0 60px;">A method that can be called on a model object</p>
        </div>
    </section> <!-- End of Repeating Array -->

    <button type="button" style="float: right;" class="btn btn-w-md btn-gap-v btn-primary" ng-disabled="true">Next Question<span class="ti-arrow-right" style="float: right; margin: 5px 10px;"></span></button>


</div> <!--End of Page-->

